.nafiz-pic {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: red;
}

.nafiz-pic > img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

.main-content {
  margin-top: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.home {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.text-section {
  text-align: center;
}

.text-section > h2 {
    font-size: 44px;
    line-height: 0px;
    color: #000000;
    font-weight: 500;
}

p.content-paragraph {
  font-size: 23px;
}

ul.links > li {
  list-style: none;
  float: left;
  padding: 10px;
}

ul.links > li > a {
  font-size: 38px;
}

ul.links {
  margin-top: -20px;
}

ul.links > li > a > i {
  color: #6772E5;
}
